<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Gen Eds Made Easy"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CourseInfo"></activity>
        <activity android:name=".WList" />
        <activity android:name=".USMinList" />
        <activity android:name=".QuanList" />
        <activity android:name=".NWList" />
        <activity android:name=".NSTList" />
        <activity android:name=".HumList" />
        <activity android:name=".ACList" />
        <activity android:name=".SBSList" />
        <activity android:name=".OtherActivity" />
        <activity android:name=".BusActivity" />
        <activity android:name=".EngActivity" />
        <activity android:name=".LasActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>